<section id="supermanComics">
    <div class="navbar navbar-expand-lg">
        <div class="navbar-brand">
            <img src="/assets/pict/soulsHeroesLogo.png" [routerLink]="'/univers'" class="img-fluid w-100" alt="siteLogo" />
        </div>
        <button type="button" id="btnBar" data-bs-toggle="offcanvas" data-bs-target="#sideCanvas"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a [routerLink]="'/heroes'" class="nav-link">HEROS</a></li>
                <li class="nav-item"><a [routerLink]="'/search'" class="nav-link">RECHERCHE</a></li>
            </ul>
            <button type="button" id="btnConnect" [routerLink]="'/login'">SE CONNECTER</button>
        </div>
    </div>

    <div class="containSupermanComics" *ngIf="supermanDetails">
        <div class="row">
            <div class="col-lg-5 book">
                <img [src]="supermanDetails.pict" class="img-fluid w-100" />
            </div>
            <div class="col-lg-7 describe">
                <h2 class="title">{{supermanDetails.title}}</h2>
                <p class="creator">{{supermanDetails.creator}}</p>
                <p class="story">{{supermanDetails.synopsis}}</p>
                <div class="listBuy">
                    <p class="price">Prix : {{supermanDetails.price}}<button type="button" id="btnBuy"><a [href]="supermanDetails.hrefBuy"><i class="fa-solid fa-cart-shopping"></i></a></button></p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="copy">© SOUL'S HEROES 2023</div>
        <button type="button" id="btnContact" data-bs-toggle="modal" data-bs-target="#contact"><i class="fa-solid fa-message"></i></button>
    </div>
</section>

<!-- OFFCANVAS -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="sideCanvas" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="hrefList">
      <li class="href-item">
        <a [routerLink]="'/heroes'" class="href-link">HEROES</a>
      </li>
      <li class="href-item">
        <a [routerLink]="'/search'" class="href-link">RECHERCHE</a>
      </li>
    </ul>
    <button type="button" id="btnConnect" [routerLink]="'/login'">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </button>
  </div>
</div>