<section id="univers">
    <div class="navbar navbar-expand-lg">
        <div class="navbar-brand">
            <img src="/assets/pict/soulsHeroesLogo.png" [routerLink]="'/univers'" class="img-fluid w-100" alt="siteLogo" />
        </div>
        <button type="button" id="btnBar" data-bs-toggle="offcanvas" data-bs-target="#sideCanvas"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a [routerLink]="'/search'" class="nav-link">RECHERCHE</a></li>
            </ul>
            <button type="button" id="btnConnect" [routerLink]="'/login'">SE CONNECTER</button>
        </div>
    </div>

    <div class="containUnivers">
        <div class="row">
            <div class="col-lg-3 symbol">
                <div class="listSymbol">
                    <img src="/assets/pict/batmanLogo.jpeg" alt="batman" (click)="showHeroes('batman')" class="img-fluid w-100" />
                    <img src="/assets/pict/supermanLogo.jpg" alt="superman" (click)="showHeroes('superman')" class="img-fluid w-100" />
                    <img src="/assets/pict/spidermanLogo.jpeg" alt="spiderman" (click)="showHeroes('spiderman')" class="img-fluid w-100" />
                </div>
            </div>
            <div class="col-lg-9 univers" style="background-color: rgb(0, 0, 0);">
                <div class="showUnivers" [ngSwitch]="univers">
                    <!-- BATMAN -->
                    <div class="detailsSwitch" *ngSwitchCase="'batman'">
                        <div class="containHeroes">
                            <div class="infoSwitch" style="background-image: url('/assets/pict/batmanWallpaper.jpg')" >
                                <h2 class="best">LES INCONTOURNABLES</h2>
                                    <div class="row">
                                        <div class="col-lg-4 comic" *ngFor="let batman of DarkKnigth">
                                            <img [src]="batman.book" alt="comicFirst" class="img-fluid w-100" [routerLink]="['/batman-comics', batman.id]" appComicsShow/>
                                        </div>
                                    </div>
                                    <button type="button" id="otherComics" [routerLink]="'/batman-univers'">VOIR D'AUTRES COMICS</button>
                            </div>
                        </div>
                    </div>

                    <!-- SUPERMAN -->
                    <div class="detailsSwitch" *ngSwitchCase="'superman'">
                        <div class="containHeroes">
                            <div class="infoSwitch" style="background-image: url('/assets/pict/supermanWallpaper.jpg')">
                                <h2 class="best">LES INCONTOURNABLES</h2>
                                    <div class="row">
                                        <div class="col-lg-4 comic" *ngFor="let superman of ManOfSteel">
                                            <img [src]="superman.book" alt="comicFirst" class="img-fluid w-100" [routerLink]="['/superman-comics', superman.id]" appComicsShow/>
                                        </div>
                                    </div>
                                    <button type="button" id="otherComics" [routerLink]="'/superman-univers'">VOIR D'AUTRES COMICS</button>
                            </div>
                        </div>
                    </div>
                    <!-- SPIDERMAN -->
                    <div class="detailsSwitch" *ngSwitchCase="'spiderman'">
                        <div class="containHeroes">
                            <div class="infoSwitch" style="background-image: url('/assets/pict/spidermanWallpaper.jpg');">
                                <h2 class="best">LES INCONTOURNABLES</h2>
                                    <div class="row">
                                        <div class="col-lg-4 comic" *ngFor="let spiderman of Spidey">
                                            <img [src]="spiderman.book" alt="comicFirst" class="img-fluid w-100" [routerLink]="['/spiderman-comics', spiderman.id]" appComicsShow/>
                                        </div>
                                    </div>
                                    <button type="button" id="otherComics" [routerLink]="'/spiderman-univers'">VOIR D'AUTRES COMICS</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="copy">© SOUL'S HEROES 2023</div>
        <button type="button" id="btnContact" [routerLink]="'/contact'"><i class="fa-solid fa-message"></i></button>
    </div>
</section>

<!-- OFFCANVAS -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="sideCanvas" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="hrefList">
      <li class="href-item">
        <a [routerLink]="'/search'" class="href-link">RECHERCHE</a>
      </li>
    </ul>
    <button type="button" id="btnConnect" [routerLink]="'/login'">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </button>
  </div>
</div>