* {
  box-sizing: border-box;
}

body {
  margin: auto;
  display: block;
}

#univers {
  height: auto;
  width: 100%;
}
#univers .navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}
#univers .navbar .navbar-brand .siteLogo {
  font-size: 1.6em;
  margin-left: 10px;
  color: azure;
}
#univers .navbar .navbar-brand .siteLogo .hrefSite {
  color: azure;
  text-decoration: none;
}
#univers .navbar #btnBar {
  display: none;
  border: none;
  font-size: 1.4em;
  background: transparent;
}
#univers .navbar .collapse {
  justify-content: end;
}
#univers .navbar .collapse .navbar-nav {
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-right: 60px;
}
#univers .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.6em;
  color: azure;
  text-decoration: none;
}
#univers .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.8;
  transform: scale(0.8);
}
#univers .navbar .collapse #btnConnect {
  padding: 5px;
  font-size: 1.4em;
  margin-top: 6px;
  margin-right: 15px;
  color: azure;
  border: 1px solid azure;
  background-color: transparent;
}
#univers .navbar .collapse #btnConnect:hover {
  color: black;
  background-color: azure;
}
#univers .containUnivers .row .symbol {
  margin-right: -12px;
}
#univers .containUnivers .row .symbol .listSymbol .img-fluid {
  opacity: 0.8;
  height: 249px;
  cursor: pointer;
}
#univers .containUnivers .row .symbol .listSymbol .img-fluid:hover {
  opacity: 1;
}
#univers .containUnivers .row .univers .showUnivers .detailsSwitch .containHeroes .infoSwitch {
  padding: 55px;
  width: 100%;
  height: 747px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#univers .containUnivers .row .univers .showUnivers .detailsSwitch .containHeroes .infoSwitch .best {
  text-align: center;
  color: azure;
  font-weight: bold;
  text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
#univers .containUnivers .row .univers .showUnivers .detailsSwitch .containHeroes .infoSwitch .row {
  margin: -15px auto;
  text-align: center;
  padding: 20px;
}
#univers .containUnivers .row .univers .showUnivers .detailsSwitch .containHeroes .infoSwitch .row .comic .img-fluid {
  cursor: pointer;
  padding: 30px;
  height: 550px;
  max-width: 450px;
}
#univers .containUnivers .row .univers .showUnivers .detailsSwitch .containHeroes .infoSwitch #otherComics {
  padding: 10px;
  display: block;
  margin: 5px auto;
  color: azure;
  border-radius: 20px;
  border: 1px solid azure;
  background-color: black;
}
#univers .footer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}
#univers .footer .copy {
  top: 50%;
  left: 50%;
  margin-top: 30px;
  font-size: 1.6em;
  position: relative;
  color: azure;
  transform: translate(-50%, -50%);
}
#univers .footer #btnContact {
  border: none;
  opacity: 0.8;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#univers .footer #btnContact:hover {
  opacity: 1;
  transform: scale(1.2);
}

#heroes {
  height: auto;
  width: 100%;
}
#heroes .navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}
#heroes .navbar .navbar-brand .siteLogo {
  font-size: 1.6em;
  margin-left: 10px;
  color: azure;
}
#heroes .navbar .navbar-brand .siteLogo .hrefSite {
  color: azure;
  text-decoration: none;
}
#heroes .navbar #btnBar {
  display: none;
  border: none;
  font-size: 1.4em;
  background: transparent;
}
#heroes .navbar .collapse {
  justify-content: end;
}
#heroes .navbar .collapse .navbar-nav {
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-right: 60px;
}
#heroes .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.6em;
  color: azure;
  text-decoration: none;
}
#heroes .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.8;
  transform: scale(0.8);
}
#heroes .navbar .collapse #btnConnect {
  padding: 5px;
  font-size: 1.4em;
  margin-top: 6px;
  margin-right: 15px;
  color: azure;
  border: 1px solid azure;
  background-color: transparent;
}
#heroes .navbar .collapse #btnConnect:hover {
  color: black;
  background-color: azure;
}
#heroes .footer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}
#heroes .footer .copy {
  top: 50%;
  left: 50%;
  margin-top: 10px;
  font-size: 1.6em;
  position: relative;
  color: azure;
  transform: translate(-50%, -50%);
}
#heroes .footer #btnContact {
  border: none;
  opacity: 0.8;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#heroes .footer #btnContact:hover {
  opacity: 1;
  transform: scale(1.2);
}

#search {
  height: auto;
  width: 100%;
}
#search .navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}
#search .navbar .navbar-brand .siteLogo {
  font-size: 1.6em;
  margin-left: 10px;
  color: azure;
}
#search .navbar .navbar-brand .siteLogo .hrefSite {
  color: azure;
  text-decoration: none;
}
#search .navbar #btnBar {
  display: none;
  border: none;
  font-size: 1.4em;
  background: transparent;
}
#search .navbar .collapse {
  justify-content: end;
}
#search .navbar .collapse .navbar-nav {
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-right: 60px;
}
#search .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.6em;
  color: azure;
  text-decoration: none;
}
#search .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.8;
  transform: scale(0.8);
}
#search .navbar .collapse #btnConnect {
  padding: 5px;
  font-size: 1.4em;
  margin-top: 6px;
  margin-right: 15px;
  color: azure;
  border: 1px solid azure;
  background-color: transparent;
}
#search .navbar .collapse #btnConnect:hover {
  color: black;
  background-color: azure;
}
#search .containSearch .showSearch {
  height: 83vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(45, 45, 45, 0.4);
  background-image: url("/assets/pict/searchBackground.jpg");
}
#search .containSearch .showSearch form {
  padding-top: 120px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
#search .containSearch .showSearch form input {
  width: 60%;
}
#search .containSearch .showSearch form #btnSearch {
  margin-left: -30px;
  border: none;
  background: transparent;
}
#search .footer {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}
#search .footer .copy {
  top: 50%;
  left: 50%;
  margin-top: 30px;
  font-size: 1.6em;
  position: relative;
  color: azure;
  transform: translate(-50%, -50%);
}
#search .footer #btnContact {
  border: none;
  opacity: 0.8;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#search .footer #btnContact:hover {
  opacity: 1;
  transform: scale(1.2);
}

#login {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/pict/logInBackground.jpeg");
}
#login #btnCloseConnect {
  top: 1%;
  left: 98%;
  border: none;
  font-size: 1.6em;
  position: relative;
  color: azure;
  background: transparent;
}
#login .containLogIn {
  top: 33%;
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  max-height: 270px;
  max-width: 490px;
  position: relative;
}
#login .containLogIn form .identify {
  font-size: 2.2em;
  color: azure;
  text-align: center;
  margin-bottom: -10px;
  text-shadow: 0px 0px 0px black;
}
#login .containLogIn form .already {
  font-size: 1.6em;
  margin-top: 9px;
  color: azure;
  text-align: center;
  text-shadow: 0px 0px 4px black;
}
#login .containLogIn form .already .hrefSignUp {
  cursor: pointer;
  color: azure;
  text-decoration: none;
}
#login .containLogIn form .already .hrefSignUp:hover {
  opacity: 0.8;
}
#login .containLogIn form #btnIdentify {
  padding: 7px;
  display: block;
  margin: 8px auto;
  color: azure;
  border-radius: 20px;
  border: 1px solid azure;
  background-color: darkgreen;
}

#signup {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/pict/signUpBackground.png");
}
#signup #btnCloseConnect {
  top: 1%;
  left: 98%;
  border: none;
  font-size: 1.6em;
  position: relative;
  color: azure;
  background: transparent;
}
#signup .containSignUp {
  top: 32%;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  display: block;
  max-width: 510px;
  max-height: 270px;
  position: relative;
}
#signup .containSignUp form .register {
  font-size: 2.2em;
  text-align: center;
  color: azure;
  margin-bottom: -10px;
  text-shadow: 0px 0px 4px black;
}
#signup .containSignUp form .nomember {
  margin-top: 9px;
  font-size: 1.6em;
  color: azure;
  text-align: center;
  text-shadow: 0px 0px 4px black;
}
#signup .containSignUp form .nomember .hrefLogIn {
  cursor: pointer;
  color: azure;
  text-decoration: none;
}
#signup .containSignUp form .nomember .hrefLogIn:hover {
  opacity: 0.8;
}
#signup .containSignUp form #btnRegister {
  padding: 7px;
  display: block;
  font-size: 1.2em;
  margin: 8px auto;
  color: azure;
  border-radius: 20px;
  border: 1px solid azure;
  background-color: darkgreen;
}

#contact .modal-dialog .modal-content {
  background-color: rgb(136, 131, 131);
}
#contact .modal-dialog .modal-content #btnCloseModal {
  top: 0%;
  left: 94%;
  font-size: 1.4em;
  border: none;
  position: absolute;
  font-weight: bold;
  color: black;
  background: transparent;
}
#contact .modal-dialog .modal-content .modal-body h2 {
  text-align: center;
}
#contact .modal-dialog .modal-content .modal-body form {
  margin: -5px auto;
}
#contact .modal-dialog .modal-content .modal-body form #btnSend {
  font-size: 1.2em;
  display: block;
  margin: 10px auto;
  color: azure;
  border-radius: 20px;
  background: darkgreen;
  border: 1px solid black;
}/*# sourceMappingURL=styles.css.map */