<section id="signup">
    <button type="button" id="btnCloseConnect" [routerLink]="'/univers'"><i class="fas fa-times"></i></button>
    <div class="containSignUp">
        <form [formGroup]="signup" (ngSubmit)="register()">
            <p class="register">Enregistrez-vous :</p>
            <div class="row">
                <div class="col-lg-6">
                    <label for="pseudo"></label>
                    <input type="text" class="form-control" name="pseudo" id="pseudo" placeholder="Nom d'utilisateur" formControlName="pseudo" [ngClass]="{ 'is.invalid': signup.get('pseudo')?.touched && signup.get('pseudo')?.invalid }" />
                    <div class="warning" *ngIf="signup.get('pseudo')?.invalid && (signup.get('pseudo')?.dirty || signup.get('pseudo')?.touched)">
                        <div class="alert alert-danger" *ngIf="signup.get('pseudo')?.hasError('required')">Le nom d'utilisateur est requis</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="adress"></label>
                    <input type="email" class="form-control" name="adress" id="adress" placeholder="Adresse email" formControlName="adress" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" [ngClass]="{ 'is.invalid': signup.get('adress')?.touched && signup.get('adress')?.invalid }" />
                    <div class="warning" *ngIf="signup.get('adress')?.invalid && (signup.get('adress')?.dirty || signup.get('adress')?.touched)">
                        <div class="alert alert-danger" *ngIf="signup.get('adress')?.hasError('required')">L'adresse email est requise</div>
                        <div class="alert alert-danger" *ngIf="signup.get('adress')?.hasError('pattern')">La forme de l'adresse email est incorrecte</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="phone"></label>
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="Numéro de téléphone" formControlName="phone" [ngClass]="{ 'is.invalid': signup.get('phone')?.touched && signup.get('phone')?.invalid }" />
                    <div class="warning" *ngIf="signup.get('phone')?.invalid && (signup.get('phone')?.dirty || signup.get('phone')?.touched)">
                        <div class="alert alert-danger" *ngIf="signup.get('phone')?.hasError('required')">Le numéro de téléphone est requis</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="pass"></label>
                    <input type="password" class="form-control" name="pass" id="pass" placeholder="Mot de Passe" formControlName="pass" [ngClass]="{ 'is.invalid': signup.get('pass')?.touched && signup.get('pass')?.invalid }" />
                    <div class="warning" *ngIf="signup.get('pass')?.invalid && (signup.get('pass')?.dirty || signup.get('pass')?.touched)">
                        <div class="alert alert-danger" *ngIf="signup.get('pass')?.hasError('required')">Le mot de passe est requis</div>
                    </div>
                </div>
            </div>
            <p class="nomember">Vous êtes déjà inscrit ? <a [routerLink]="'/login'" class="hrefLogIn">Connectez-vous</a></p>
            <button type="submit" id="btnRegister" [disabled]="signup.invalid">ENREGISTRER</button>
        </form>
    </div>
</section>
