* {
  box-sizing: border-box;
}

body {
  margin: auto;
  display: block;
}


// MIXIN & ROOT
$firstFont: heyComic;
$secondFont: komikaAxis;
$firstColor: azure;
$secondColor: black;
$thirdColor: darkred;
$fourColor: darkgreen;

@mixin flex ($flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
}

@font-face {
  font-family: $firstFont;
  src: url('/assets/font/heyComic.ttf');
}

@font-face {
  font-family: $secondFont;
  src: url('/assets/font/komikaAxis.ttf');
}

// MAIN
#main {
  .containMain {
    height: 939px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/pict/mainWallpaper.png');
    .navbar {
      @include flex (row);
      .navbar-brand {
        .img-fluid {
          height: 150px;
          cursor: pointer;
          max-width: 280px;
          transition: all 0.25ms ease;
          &:hover {
            transform: scale(0.8);
          }
        }
      }
      #btnBar {
        display: none;
        border: none;
        cursor: pointer;
        font-size: 1.4em;
        color: $firstColor;
        background: transparent;
      }
      .collapse {
        margin-top: -20px;
        justify-content: end;
        .navbar-nav {
          column-gap: 60px;
          margin-right: 65px;
          .nav-item {
            color: $firstColor;
            font-family: $firstFont;
            .nav-link {
              color: $firstColor;
              letter-spacing: 1px;
              font-size: 1.4em;
              cursor: pointer;
              transition: all 0.25ms ease;
              text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
              &:hover {
                transform: scale(1.1);
              }
            }
            .dropdown-menu {
              margin-left: 50px;
              border-radius: 5px;
              background: transparent;
              border: 1px solid $firstColor;
              .dropdown-item {
                font-size: 1.2em;
                color: $firstColor;
                text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
                &:hover {
                  transform: scale(1.1);
                  background: transparent;
                }
              }
            }
          }
        }
        #btnSubscribe {
          letter-spacing: 1px;
          font-size: 1.4em;
          border-radius: 5px;
          color: $firstColor;
          margin-right: 10px;
          font-family: $firstFont;
          background: transparent;
          border: 2px solid $firstColor;
          text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
          &:hover {
            color: $secondColor;
            background-color: $firstColor;
            text-shadow: 0 1px 0px #ffffff, 1px 0 0px #ffffff, 1px 0px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
          }
        }
      }
    }
    .showBody {
      margin-top: 0px;
      .wake {
        color: $firstColor;
        text-align: center;
        font-family: $secondFont;
        text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 4px 5px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
      }
     .containSwitch {
        .listSwitch {
          margin: 20px auto;
          display: block;
          text-align: center;
          justify-content: center;
          #btnSwitch {
            letter-spacing: 1px;
            font-size: 1.4em;
            border-radius: 5px;
            color: $firstColor;
            margin-right: 10px;
            font-family: $firstFont;
            background: transparent;
            border: 2px solid $firstColor;
            text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
            &:hover {
              color: $secondColor;
              background-color: $firstColor;
              text-shadow: 0 1px 0px #ffffff, 1px 0 0px #ffffff, 1px 0px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
            }
          }
          .containShow {
            // SEARCH
            .showSearch {
              form {
                margin-top: 40px;
                justify-content: center;
                .form-control {
                  width: 48%;
                }
              }
              .row {
                margin: auto;
                max-width: 1600px;
                .col-lg-4 {
                  margin-top: 30px;
                  .containSearch {
                    margin-top: -10px;
                    .results {
                      margin-top: 40px;
                      font-size: 1.4em;
                      color: $firstColor;
                      font-family: $secondFont;
                    }
                    .listResults {
                      margin-left: -20px;
                      margin-top: 5px;
                      .resultSearch {
                        height: 330px;
                        width: 550px;
                        overflow: auto;
                        padding-right: 20px;
                        .test {
                          margin: 5px 0px 5px 0px;
                          padding: 0px 5px 0px 5px;
                          height: 50px;
                          cursor: pointer;
                          border-radius: 5px;
                          justify-content: space-between;
                          border: 1px solid $firstColor;
                          transition: all 0.25ms ease;
                          &:hover {
                            transform: scale(0.9);
                            background-color: $secondColor;
                          }
                          .title {
                            margin-top: 5px;
                            font-size: 1.4em;
                            color: $firstColor;
                            font-family: $firstFont;
                          }
                          .price {
                            height: 35px;
                            width: 82px;
                            column-gap: 4px;
                            margin-top: 5px;
                            margin-right: 5px;
                            color: $firstColor;
                            border-radius: 10px;
                            font-family: $secondFont;
                            padding: 10px 5px -10px 3px;
                            background-color: darkgreen;
                            border: 1px solid $firstColor;
                          }
                        }
                      }
                    }
                  }
                }
                .col-lg-8 {
                  .cardComics {
                    padding-left: 80px;
                    .row {
                      .col-lg-4 {
                        .img-fluid {
                          height: 430px;
                          margin-top: 10px;
                          max-width: 400px;
                          border-radius: 10px;
                          border: 0px solid $firstColor;
                        }
                      }
                      .col-lg-8 {
                        .story {
                          margin-top: 77px;
                          font-size: 1.6em;
                          overflow: auto;
                          height: 300px;
                          color: $firstColor;
                          font-family: $firstFont;
                        }
                        #btnPost {
                          width: 320px;
                          cursor: pointer;
                          padding: 0px 0px 5px 0px;
                          color: $secondColor;
                          font-family: $secondFont;
                          background: $firstColor;
                          border-width: 3px 3px 5px 5px;
                          border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
                          transform: rotate(0deg);
                          transition: all 0.25ms ease;
                          &:hover {
                            transform: scale(0.9);
                            color: $firstColor;
                            background: $secondColor;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .footerOne {
                .copy {
                  bottom: 2%;
                  left: 50%;
                  position: absolute;
                  margin: -8px auto;
                  font-size: 1.6em;
                  color: $firstColor;
                  text-align: center;
                  font-family: $secondFont;
                  transform: translate(-50%, -50%);
                  text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 4px 5px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
                }
            }
          }
          // WISHES
            .showWishes {
              .list {
                font-size: 1.7em;
                margin-top: 20px;
                color: $firstColor;
                letter-spacing: 1px;
                font-family: $secondFont;
                text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
              }
              .containTable {
                height: 540px;
                overflow: auto;
                .table {
                  width: 100%;
                  max-width: 850px;
                  margin: 18px auto;
                  thead {
                    .listHead {
                      .head {
                        font-family: $secondFont;
                      }
                    }
                  }
                  tbody {
                    tr {
                      .table-secondary {
                        font-size: 1.4em;
                        font-family: $firstFont;
                      }
                      .btnList {
                        #btnBuy {
                          color: $firstColor;
                          margin-right: 5px;
                          border-radius: 10px;
                          transition: all 0.25ms ease;
                          background-color: $thirdColor;
                          text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
                          &:hover {
                            background: transparent;
                            transform: scale(1.1);
                            color: $secondColor;
                            text-shadow: 0 1px 0px #ffffff, 1px 0 0px #ffffff, 1px 0px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
                          }
                        }
                        #btnDelete {
                          color: $firstColor;
                          margin-left: 5px;
                          border-radius: 10px;
                          background-color: $fourColor;
                          text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
                          &:hover {
                            background: transparent;
                            transform: scale(1.1);
                            color: $secondColor;
                            text-shadow: 0 1px 0px #ffffff, 1px 0 0px #ffffff, 1px 0px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
                          }
                        }
                      }
                    }
                  }
                }
              }
              .footerTwo {
                .copy {
                  bottom: 2%;
                  left: 50%;
                  position: absolute;
                  margin: -8px auto;
                  font-size: 1.6em;
                  color: $firstColor;
                  text-align: center;
                  font-family: $secondFont;
                  transform: translate(-50%, -50%);
                  text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 4px 5px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
                }
            }
            }
          }
        }
      }
    }
  }
  #showSubscribe {
      .modal-dialog {
        .modal-content {
          #btnCloseModal {
            top: 0%;
            right: 0%;
            font-size: 1.9em;
            position: absolute;
            color: $firstColor;
            border: transparent;
            background: transparent;
            transition: all 0.25ms ease;
            &:hover {
              transform: scale(1.1);
            }
          }
          .modal-body {
            top: 50%;
            left: 50%;
            width: 1400px;
            text-align: center;
            position: absolute;
            transform: translate(-50%, -50%);
            .modal-title {
              font-size: 1.9em;
              color: $firstColor;
              font-family: $secondFont;
              text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(255, 255, 255, 0.15);
            }
            .subscribeInfo {
              margin-top: 20px;
              font-size: 1.6em;
              color: $firstColor;
              font-family: $firstFont;
              text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(255, 255, 255, 0.15);
            }
            form {
              width: 100%;
              margin: auto;
              display: block;
              column-gap: 10px;
              max-width: 600px;
              @include flex (row);
                .form-control {
                  font-family: $firstFont;
                }
                #btnSubscribe {
                  letter-spacing: 1px;
                  font-size: 1.4em;
                  border-radius: 5px;
                  color: $firstColor;
                  margin-right: 10px;
                  font-family: $firstFont;
                  background: transparent;
                  border: 2px solid $firstColor;
                  text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
                  &:hover {
                    color: $secondColor;
                    background-color: $firstColor;
                    text-shadow: 0 1px 0px #ffffff, 1px 0 0px #ffffff, 1px 0px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
                  }
                }
            }
            .alert {
              width: 45%;
              margin: 8px auto;
            }
          }
        }
      }
  }
}

// CANVAS
#showCanvas {
  height: 240px;
  overflow: auto;
  max-width: 250px;
  border-radius: 0px 0px 0px 10px;
  background-color: $secondColor;
  border: 1px solid $firstColor;
  #btnCloseCanvas {
    top: 0%;
    right: 0%;
    font-size: 1.9em;
    position: absolute;
    color: $firstColor;
    border: transparent;
    background: transparent;
    transition: all 0.25ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .offcanvas-body {
    margin-top: 0px;
    .containNav {
      line-height: 40px;
      margin-top: 30px;
      text-align: center;
      list-style-type: none;
      .nav-item {
        color: $firstColor;
        font-family: $firstFont;
        .nav-link {
          color: $firstColor;
          letter-spacing: 1px;
          font-size: 1.4em;
          cursor: pointer;
          transition: all 0.25ms ease;
          text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
          &:hover {
            transform: scale(1.1);
          }
        }
        .dropdown-menu {
          border-radius: 5px;
          background: $firstColor;
          border: 1px solid $firstColor;
          .dropdown-item {
            font-size: 1.2em;
            color: $secondColor;
            text-shadow: 0 1px 0px #ffffff, 1px 0 0px #ffffff, 1px 0px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
            &:hover {
              transform: scale(1.1);
              background: transparent;
            }
          }
        }
      }
    }
    #btnSubscribe {
      margin: 5px auto;
      display: block;
      letter-spacing: 1px;
      font-size: 1.4em;
      border-radius: 5px;
      color: $firstColor;
      font-family: $firstFont;
      background: transparent;
      border: 2px solid $firstColor;
      text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
      &:hover {
        color: $secondColor;
        background-color: $firstColor;
        text-shadow: 0 1px 0px #ffffff, 1px 0 0px #ffffff, 1px 0px 1px #000000, 2px 2px 3px #000000, 2px 2px 2px #ffffff, 2px 2px 0px #ffffff, 2px 2px 8px rgba(206,206,206,0.13);
      }
    }
  }
}

// MEDIA QUERY
@media screen and (max-width: 1440px) {
  #main {
    .containMain {
      height: 999px;
      .showBody {
        .containSwitch {
          .listSwitch {
            .containShow {
              .showSearch {
                .row {
                  max-width: 1300px;
                  .col-lg-4 {
                    .containSearch {
                      .results {
                        margin-left: 65px;
                      }
                    }
                  }
                  .col-lg-8 {
                    margin-top: 10px;
                    .cardComics {
                      padding-left: 120px;
                      .row {
                        .col-lg-8 {
                          .story {
                            margin-top: 70px;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .showWishes {
                .containTable {
                  height: 580px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #main {
    .containMain {
      height: 859px;
      .showBody {
        .containSwitch {
          .listSwitch {
            .containShow {
              .showSearch {
                .row {
                  max-width: 950px;
                  .col-lg-4 {

                    .containSearch {
                      margin-left: -30px;
                      .results {
                        margin-top: 28px;
                        width: 600px;
                        font-size: 1.2em;
                        margin-left: -80px;
                      }
                      .listResults {
                        margin-top: 10px;
                        margin-left: 0px;
                        .resultSearch {
                          height: 290px;
                          width: 450px;
                          .test {
                            .title {
                              overflow: auto;
                            }
                          }
                        }
                      }
                    }
                  }
                  .col-lg-8 {
                    margin-top: 10px;
                    .cardComics {
                      padding-left: 120px;
                      .row {
                        .col-lg-4 {
                          .img-fluid {
                            height: 350px;
                          }
                        }
                        .col-lg-8 {
                          .story {
                            height: 230px;
                            margin-top: 70px;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .showWishes {
                .containTable {
                  height: 430px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 970px) {
  #main {
    .containMain {
      .navbar {
        .navbar-brand {
          height: 80px;
          max-width: 240px;
        }
        #btnBar {
          display: block;
          margin-top: 50px;
          margin-right: 10px;
        }
        .collapse {
          display: none;
        }
      }
      .showBody {
        margin-top: 100px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #main {
    .containMain {
      height: 1210px;
      .showBody {
        .containSwitch {
          .listSwitch {
            .containShow {
              .showSearch {
                form {
                  margin-top: 30px;
                }
                .row {
                  .col-lg-4 {
                    .containSearch {
                      margin-top: -36px;
                      .results {
                        margin-left: 110px;
                      }
                      .listResults {
                        margin-left: 150px;
                        .resultSearch {
                          width: 540px;
                          height: 115px;
                          .test {
                            .title {
                              overflow: hidden;
                            }
                          }
                        }
                      }
                    }
                  }
                  .col-lg-8 {
                    height: 560px;
                    overflow: auto;
                    margin-top: 10px;
                    .cardComics {
                      padding-left: 0px;
                      .row {
                        .col-lg-4 {
                          .img-fluid {
                            height: 550px;
                            margin-top: -16px;
                          }
                        }
                        .col-lg-8 {
                          .story {
                            margin: auto;
                            max-width: 600px;
                            margin-top: 20px;
                          }
                          #btnPost {
                            margin-top: 20px;
                          }
                        }
                      }
                    }
                  }
                }
                .footerOne {
                  .copy {
                    bottom: -330px;
                    font-size: 1.4em;
                  }
                }
              }
              .showWishes {
                .containTable {
                  height: 760px;
                  margin: auto;
                  max-width: 700px;
                  border: 1px solid $firstColor;
                  .table {
                    max-width: 740px;
                    margin: 10px auto;
                    tbody {
                      tr {
                        .title {
                          padding-top: 15px;
                        }
                        .price {
                          font-size: 1.4em;
                          padding-top: 15px;
                        }
                        .btnList {
                          padding-top: 12px;
                          align-items: center;
                          #btnBuy {
                            margin-bottom: 5px;
                            margin-left: 5px;
                          }
                          #btnDelete {
                            margin-right: 2px;
                          }
                        }
                      }
                    }
                  }
                }
                .footerTwo {
                  .copy {
                    bottom: -330px;
                    font-size: 1.4em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  #main {
    .containMain {
      height: 1210px;
      .showBody {
        .containSwitch {
          .listSwitch {
            .containShow {
              .showSearch {
                form {
                  margin-top: 30px;
                }
                .row {
                  .col-lg-4 {
                    .containSearch {
                      margin-top: -46px;
                      .results {
                        width: 260px;
                        font-size: 1.2em;
                        margin-left: 100px;
                      }
                      .listResults {
                        margin-left: 40px;
                        .resultSearch {
                          width: 410px;
                          height: 115px;
                          .test {
                            .title {
                              overflow: auto;

                            }
                          }
                        }
                      }
                    }
                  }
                  .col-lg-8 {
                    height: 490px;
                    overflow: auto;
                    margin-top: 10px;
                    .cardComics {
                      padding-left: 0px;
                      .row {
                        .col-lg-4 {
                          .img-fluid {
                            height: 470px;
                            margin-top: -16px;
                          }
                        }
                        .col-lg-8 {
                          .story {
                            margin: auto;
                            max-width: 600px;
                            margin-top: 20px;
                          }
                          #btnPost {
                            margin-top: 20px;
                          }
                        }
                      }
                    }
                  }
                }
                .footerOne {
                  .copy {
                    bottom: -360px;
                    font-size: 1.4em;
                  }
                }
              }
              .showWishes {
                .containTable {
                  height: 700px;
                  margin: auto;
                  max-width: 400px;
                  border: 1px solid $firstColor;
                  .table {
                    max-width: 740px;
                    margin: 10px auto;
                    tbody {
                      tr {
                        .title {
                          padding-top: 5px;
                        }
                        .price {
                          font-size: 1.4em;
                          padding-top: 15px;
                        }
                        .btnList {
                          padding-top: 12px;
                          align-items: center;
                          #btnBuy {
                            margin-bottom: 5px;
                            margin-left: 5px;
                          }
                          #btnDelete {
                            margin-right: 2px;
                          }
                        }
                      }
                    }
                  }
                }
                .footerTwo {
                  .copy {
                    bottom: -330px;
                    font-size: 1.4em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #main {
    .containMain {
      height: 1210px;
      .showBody {
        .containSwitch {
          .listSwitch {
            #btnSwitch {
              margin-bottom: 10px;
            }
            .containShow {
              .showSearch {
                form {
                  margin-top: 10px;
                  .form-control {
                    width: 60%;
                  }
                }
                .row {
                  .col-lg-4 {
                    .containSearch {
                      margin-top: -46px;
                      .results {
                        width: 260px;
                        font-size: 1.2em;
                        margin-left: 70px;
                      }
                      .listResults {
                        margin-left: 40px;
                        .resultSearch {
                          width: 360px;
                          height: 115px;
                          .test {
                            .title {
                              overflow: auto;
                            }
                            .price {
                              width: 100px;
                              margin-left: 10px;
                              padding: 15px 10px -15px 16px;
                            }
                          }
                        }
                      }
                    }
                  }
                  .col-lg-8 {
                    height: 490px;
                    overflow: auto;
                    margin-top: 10px;
                    .cardComics {
                      padding-left: 0px;
                      .row {
                        .col-lg-4 {
                          .img-fluid {
                            height: 450px;
                            margin-top: -16px;
                          }
                        }
                        .col-lg-8 {
                          .story {
                            margin: auto;
                            max-width: 600px;
                            margin-top: 20px;
                          }
                          #btnPost {
                            margin-top: 20px;
                          }
                        }
                      }
                    }
                  }
                }
                .footerOne {
                  .copy {
                    bottom: -360px;
                    font-size: 1.4em;
                  }
                }
              }
              .showWishes {
                .containTable {
                  height: 660px;
                  margin: auto;
                  max-width: 350px;
                  border: 1px solid $firstColor;
                  .table {
                    max-width: 740px;
                    margin: 10px auto;
                    tbody {
                      tr {
                        .title {
                          padding-top: 5px;
                        }
                        .price {
                          font-size: 1.4em;
                          padding-top: 15px;
                        }
                        .btnList {
                          padding-top: 12px;
                          align-items: center;
                          #btnBuy {
                            margin-bottom: 5px;
                            margin-left: 5px;
                          }
                          #btnDelete {
                            margin-right: 2px;
                          }
                        }
                      }
                    }
                  }
                }
                .footerTwo {
                  .copy {
                    bottom: -350px;
                    font-size: 1.4em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #main {
    .containMain {
      height: 1210px;
      .showBody {
        .containSwitch {
          .listSwitch {
            #btnSwitch {
              margin-bottom: 10px;
            }
            .containShow {
              .showSearch {
                form {
                  margin-top: 10px;
                  .form-control {
                    width: 60%;
                  }
                }
                .row {
                  .col-lg-4 {
                    .containSearch {
                      margin-top: -46px;
                      .results {
                        width: 260px;
                        font-size: 1.2em;
                        margin-left: 45px;
                      }
                      .listResults {
                        margin-left: 50px;
                        .resultSearch {
                          width: 280px;
                          height: 115px;
                          .test {
                            height: 70px;
                            .title {
                              overflow: auto;
                            }
                            .price {
                              height: 53px;
                              width: 100px;
                              margin-left: 10px;
                              padding: 15px 10px -15px 16px;
                            }
                          }
                        }
                      }
                    }
                  }
                  .col-lg-8 {
                    height: 490px;
                    overflow: auto;
                    margin-top: 5px;
                    .cardComics {
                      padding-left: 0px;
                      .row {
                        .col-lg-4 {
                          .img-fluid {
                            height: 450px;
                            margin-top: -16px;
                          }
                        }
                        .col-lg-8 {
                          .story {
                            margin: auto;
                            max-width: 600px;
                            margin-top: 20px;
                          }
                          #btnPost {
                            margin-top: 20px;
                            width: 200px;
                          }
                        }
                      }
                    }
                  }
                }
                .footerOne {
                  .copy {
                    bottom: -360px;
                    font-size: 1.4em;
                  }
                }
              }
              .showWishes {
                .containTable {
                  height: 660px;
                  margin: auto;
                  max-width: 290px;
                  border: 1px solid $firstColor;
                  .table {
                    max-width: 740px;
                    margin: 10px auto;
                    tbody {
                      tr {
                        .title {
                          padding-top: 5px;
                        }
                        .price {
                          font-size: 1.4em;
                          padding-top: 15px;
                        }
                        .btnList {
                          padding-top: 12px;
                          align-items: center;
                          #btnBuy {
                            margin-bottom: 5px;
                            margin-left: 5px;
                          }
                          #btnDelete {
                            margin-right: 2px;
                          }
                        }
                      }
                    }
                  }
                }
                .footerTwo {
                  .copy {
                    bottom: -350px;
                    font-size: 1.4em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
